@charset "UTF-8";
* {
  position: relative;
}

html, body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 1024px;
  background-color: #C7E6F1;
}

h1 {
  padding: 5px;
  margin-bottom: 10px;
  color: #18448E;
  font-family: 微軟正黑體;
  text-align: center;
  background-color: #EFF187;
  width: 50%;
  left: 256px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: #EFF187;
  background-color: #18448E;
  width: 75%;
  left: 128px;
  border-radius: 5px;
  padding: 10px;
}

p {
  font-size: 20px;
  background-color: #eee;
  color: #666;
  border-radius: 5px;
  margin: 5px;
  text-align: left;
  padding: 15px;
}